html, body, #map {
  width: 100%;
  height: 100%;
}
/* Override Leaflet control positioning */
.leaflet-top {
  top: 50px;
}
#map header {
  z-index: 1010;  /* Above Leaflet controls */
  position: absolute;
  width: 100%;
  height: 50px;
  background: white;
  padding: 4px 5px;
}
#map header h4,
#map header h6 {
  margin-bottom: 0;  /* Vertical align */
}
.loading {
  pointer-events: initial;
}
.loading:after {
  animation-duration: 3s;
}
.loading:hover {
  background-color: inherit;  /* Override spectre design */
}
.loading:hover:after {
  animation-duration: 0s;  /* Design stop */
  border: none;
  border-left: .4rem solid #5764C6;
  border-right: .4rem solid #5764C6;
  border-radius: 0;
}
#tools {
  z-index: 1009;  /* Above Leaflet controls */
  position: absolute;
  top: 60px;
  background: white;
  padding: .5rem;
  right: 1rem;
  border-radius: .5rem;
  box-shadow: 3px 0 3px #888;
}
.leaflet-pane-labels {
  /* Above vectors and under popups and so on, see:
   http://leafletjs.com/reference-1.1.0.html#map-markerpane */
  z-index: 450;
  pointer-events: none;
}
